@model WineEntryProposal.Models.ViewModels.WineDeleteViewModel

@* ************************************************************************** *@
@* ************************************************************************** *@
@* ************************DELETE   A   NEW    WINE    ********************** *@
@* ************************************************************************** *@
@* ************************************************************************** *@

@{
    ViewBag.Title = "DeleteWine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteWine</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Wine</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TheWine.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TheWine.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TheWine.WineType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TheWine.WineType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TheWine.AVA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TheWine.AVA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TheWine.ABV)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TheWine.ABV)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TheWine.fluidOz)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TheWine.fluidOz)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TheWine.btlVol)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TheWine.btlVol)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TheWine.btlVolUOM)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TheWine.btlVolUOM)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TheWineClass)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TheWineClass)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
