@model IEnumerable<WineEntryProposal.Models.Wine>

@{
    ViewBag.Title = "ListWine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListWine</title>
</head>
<body bgcolor="d5bde4">
    <p>
        @Html.ActionLink("Add A New Wine", "AddWine")
    </p>
    <table class="table table-bordered table-condensed table-hover table-striped" align="center">

        <tr>
            <th> 
                Brand Name
            </th>
            <th style="text-align: center">
                Wine Type
            </th>
            <th style="text-align: center">
                Wine Description
            </th>
            <th style="text-align: center">
                Viticultural Area
            </th>
            <th style="text-align: center">
                ABV
            </th>
            <th style="text-align: center">
                Fluid Oz.
            </th>
            <th style="text-align: center">
                Bottle Volume
            </th>
            <th style="text-align: center">
                Bottle UOM
            </th>
            <th style="text-align: center">
                TTB Class
            </th>
            <th style="text-align: center">
                Varietal Name
            </th>
            <th style="text-align: center">
                Varietal Img
            </th>
            <th style="text-align: center">
                WineryURL
            </th>
            <th style="text-align: center">
                Make A Selection
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.TheWineType)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.AVA)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.ABV)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.fluidOz)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.btlVol)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.btlVolUOM)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.TheTTBWineClass)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.TheVarietal.Name)
            </td>
            <td align="center" valign="middle">

                @*****************************************************@
                @**** List Varietal Url From Database In Table    ****@
                @*****************************************************@

                <img src="@item.TheVarietal.pictureUrl" alt="No Grape Image" height="150" class="img-rounded" align="middle"/>

            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.WineryURL)
            </td>
            <td align="center">
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@ 
                @Html.ActionLink("<<Delete>>", "Delete", new { id = item.Id })

            </td>
        </tr>
        <tr></tr>

        }

    </table>
</body>
</html>
