@model IEnumerable<WineEntryProposal.Models.Wine>



@{
    ViewBag.Title = "ListWine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListWine</title>
</head>
<body>
    <p>
        @Html.ActionLink("Add A New Wine", "AddWine")
    </p>
    <table class="table table-bordered table-condensed table-hover table-striped" align="center">
        
    @* This did not pick up TheVarietal....Need to Fix*@
        
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Brand Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TheWineType)*@
                Wine Type
            </th>
            <th >
                @*@Html.DisplayNameFor(model => model.AVA)*@
                Viticultural Area
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ABV)*@
                ABV
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.fluidOz)*@
                Fluid Oz.
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.btlVol)*@
                Bottle Volume
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.btlVolUOM)*@
                Bottle UOM
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TheTTBWineClass)*@
                TTB Class
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TheVarietal)*@
                Varietal Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TheVarietal)*@
                Varietal Img
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TheVarietal)*@
                Make A Selection
            </th>
        </tr>


        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheWineType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AVA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ABV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fluidOz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.btlVol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.btlVolUOM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheTTBWineClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheVarietal.Name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.TheVarietal.pictureUrl)*@
                <img src="~/Content/Images/@Html.DisplayFor(modelItem => item.TheVarietal.pictureUrl)" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteWine", new { id = item.Id })

            </td>
        </tr>
        <tr>
            
        </tr>

        }

    </table>
</body>
</html>
