@model IEnumerable<WineEntryProposal.Models.Gallery>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Wine Inventory Management System</h2>
    <p class="lead">A Solution For Ever Changing Needs In the Industries Administered By Local, State, and Federal ATC, ABC, Liquor Control Boards, and the Federal Tax and Trade Bureau (TTB). </p>
    <p>@*<a href="http://www.in.gov/atc" class="btn btn-primary btn-lg">Indiana ATC &raquo;</a>
       <a href="https://www.ttb.gov/wine/wine-faq.shtml" class="btn btn-primary btn-lg">TTB Wine FAQ &raquo;</a>
       <a href="https://www.indianawines.org/" class="btn btn-primary btn-lg">Indiana Wines</a>  
       <a href="https://www.fda.gov/Food/GuidanceRegulation/FoodFacilityRegistration/ucm2006832.htm" class="btn btn-primary btn-lg">FDA Food Registration</a>
       <a href="http://www.in.gov/dor/5162.htm" class="btn btn-primary btn-lg">Pay Indiana Excise</a>*@ 
     @*<a href="http://~Index" class="btn btn-primary btn-lg">Add A Wine</a> </p>
      routes.MapRoute(
      "Default", // Route name
      "{action}/{id}", // URL with parameters // remove the controller part!
      new { controller = "WineController", action = "AddWine", id = UrlParameter.Optional } // Parameter defaults
      );*@
      @*<a href="/Users/Index)" class="elements"><span>Clients</span></a></li>*@
        @*<li>
            <a href="@Url.Action("Index", "Users")" class="elements">
                <span>Clients</span>
            </a>
        </li>*@
       <a href="@Url.Action("AddWine", null, new { area = string.Empty, controller = "Wine" }, Request.Url.Scheme)" class="btn btn-primary btn-lg">
            <span>Add A New Wine</span>
        </a>
        @*<a href="@Url.Action("EditWine", null, new { area = string.Empty, controller = "Wine" }, Request.Url.Scheme)" class="btn btn-primary btn-lg">
            <span>Modify A Wine</span>
        </a>*@
        @*<a href="@Url.Action("DeleteWine", null, new { area = string.Empty, controller = "Wine" }, Request.Url.Scheme)" class="btn btn-primary btn-lg">
            <span>Remove A Wine</span>
        </a>*@
        <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Wine" }, Request.Url.Scheme)" class="btn btn-primary btn-lg">
            <span>View Inventory</span>
        </a>

</div>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("~/Views/Shared/SliderPartial.cshtml", Model)
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>On and Off-Premise Sales</h3>
        <p>
            Specialty business intelligence reporting for on-premise sales and off-premise sales both at and away from the winery.
            Includes sales made at the main tasting room, and at satellite locations as well as those made at festival locations.

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

</div>